

body > #root > div {
  height: 100vh;
}

body {
  background-color: #e6e6e6;
}

.Cv-App {
  justify-content: center;
  background-color: #e6e6e6;
}

.cv-container {
  width: 90vw;
  margin: auto;
}

h5 {
  margin: 3px;
}

h2 {
  font-size: 1.2rem;
  margin-left: 15px;
}

.personal {
  font-weight: normal;
}
.personal-prof h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.personal-content {
  display: flex;;
}

.personal-info {
  width: 20vw;
}

.personal-prof {
  margin-left: 0vw;
  width: 80vw;
  float: right;
}

.gh-icon {
  color: rgb(255, 255, 255);
  padding-right: 5px;
}

.gh-edit {
  padding-right: 10px;
}

 .gh-add {
  padding-left: 5px;
}

 .trash-del {
  margin-top: 25px;
  margin-top: 2px;
  position: absolute;
  left: 40px;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
}

.trash-del:hover, .add-new-btn:hover {
  transform: scale(1.1);
}

.trash-del:hover .trash-del::content {
  color: red;
}

.add-new-btn {
  position: absolute;
  left: 500px;
  margin-top: -112px;
  margin-top: -25px;
  height: 30px;
  width: 60px;
  text-align: center;
  justify-content: center;
}

h2 input {
  margin-left: 10px;
}

.experience input,
.education input,
.skills input,
.others input
 {
  position: absolute;
  left: 300px;
  margin: 5px;
}

input:placeholder-shown {
  border-color: rgb(168, 226, 236);
}

li {
  list-style: none;
}